<template>
  <aside
    v-if="!this.loading"
    class="sidebar"
    :class="{
      'is-expanded': sideBarExpanded,
    }"
  >
    <button
      class="menu-button navbar-toggler me-2"
      type="button"
      @click="toggleMenu"
    >
      <span class="icon bi bi-list"></span>
    </button>

    <div class="menu" v-if="this.userStatus === 'student'">
      <router-link to="/student/dashboard" class="button">
        <span class="material-icons bi bi-card-list"></span>
        <span class="text">Vacancies</span>
      </router-link>
      <router-link to="/student/vacancies" class="button">
        <span class="material-icons bi bi-file-earmark"></span>
        <span class="text">Applications</span>
      </router-link>
      <router-link to="/profile" class="button">
        <span class="material-icons bi bi-person-fill"></span>
        <span class="text">Profile</span>
      </router-link>
      <div class="d-flex justify-content-center">
        <button
          @click="logOut()"
          type="button"
          class="log-out btn btn-danger "
        >
          Log Out
        </button>
      </div>
      <div class="d-flex justify-content-center"><img class="logo d-flex justify-content-center" :src="earnLogo" /></div>
    </div>
    <div class="menu" v-else>
      <router-link to="/company/postVacancy" class="button">
        <i class="material-icons bi bi-file-post"></i>
        <span class="text">Post Vacancy</span>
      </router-link>
      <router-link to="/company/dashboard" class="button">
        <i class="material-icons bi bi-layers"></i>
        <span class="text">Vacancies</span>
      </router-link>
      <router-link to="/profile" class="button">
        <span class="material-icons bi bi-person-fill"></span>
        <span class="text">Profile</span>
      </router-link>
      <div class="d-flex justify-content-center">
        <button
          @click="logOut()"
          type="button"
          class="log-out btn btn-danger "
        >
          Log Out
        </button>
      </div>
      <div class="d-flex justify-content-center"><img class="logo d-flex justify-content-center" :src="earnLogo" /></div>
    </div>
   
  </aside>
</template>

<script>
import logo from "@/assets/images/earn_it.png";
import { logout } from "@/helpers/userLog";
export default {
  name: "SideBar",
  data() {
    return {
      earnLogo: logo,
      sideBarExpanded: false,
      userStatus: "",
      loading: true,
    };
  },
  async created() {
    this.userStatus = localStorage.getItem("userStatus");
    console.log(this.userStatus);
    this.loading = false;
  },
  methods: {
    toggleMenu() {
      this.sideBarExpanded = !this.sideBarExpanded;
      this.$emit("sidebarExpanded");
    },
    logOut() {
      logout();
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/scss/app.scss";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.sidebar {
  display: flex;
  position: fixed;
  background-color: $earn-it-color-primary;
  color: $light;
  width: 0;
  overflow: hidden;
  min-height: calc(100vh - 70px);
  transition: 0.2s ease-in-out;
}
.log-out {
  opacity: 0;
}
.logo {
  width: 130px;
  height: 130px;
  margin-top:100px;
}

.is-expanded {
  width: 500vw;
  padding: 1rem;
  float: left;
  z-index: 1000;
  .button .text {
    opacity: 1;
  }
  .log-out {
    opacity: 1;
  }
  .button {
    .material-icons {
      margin-right: 1rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    display: flex;
    position: fixed;
    width: calc(1rem + 52px);
    min-height: 100vh;
    padding: 1rem;
  }

  .is-expanded {
    width: $sidebar-width;
  }
}

.material-icons {
  font-size: 23px;
  color: #8391a2;
  transition: 0.2s ease-out;
}
.menu-button {
  font-size: 35px;
  position: fixed;
  &:hover {
    color: $earnit-color-tertiary;
  }
}
.menu {
  margin-left: -10px;
  margin-top: 50px;
}

.text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: #8391a2;
  transition: 0.2s ease-in-out;
}

.button {
  width: 300px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  padding-right: 55px;

  &:hover {
    background-color: $dark-alt;
    .material-icons,
    .text {
      color: $earnit-color-tertiary;
    }
  }
}

.router-link-exact-active {
  .material-icons,
  .text {
    color: #fff;
  }
}
</style>
