<template>
  <body>
  <div class="container">
    <div>
      <h1 class="company-name">EARN-IT</h1>
      <span class="admin-header">Admin Dashboard</span>
    </div>
    <div>
      <div class="row header">
        <div class="col-6">
          <h1><span>Statistics</span></h1>
        </div>
        <div class="col-6">
          <button
              @click="logOut()"
              type="button"
              class="log-out btn btn-outline-danger btn-lg"
          >
            Log Out
          </button>
        </div>
      </div>
      <div class="row">
        <div class="row statistics-row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Students</h5>
                <p class="card-text">{{totalStudents}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Applications</h5>
                <p class="card-text">{{totalApplications}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row statistics-row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Companies</h5>
                <p class="card-text">{{totalCompanies}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Vacancies</h5>
                <p class="card-text">{{totalVacancies}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row admin-menu col-sm-12 mx-auto">
        <h2 id="selectStudent" class="pointer col-sm-4 mx-auto" @click="toggleStudentAdmin"><span
            :class="{active: adminStudent}">Students</span></h2>
        <h2 id="selectCompany" class="pointer col-sm-4 mx-auto" @click="toggleCompanyAdmin"><span
            :class="{active: adminCompany}">Companies</span></h2>
        <h2 id="selectVacancy" class="pointer col-sm-4 mx-auto" @click="toggleVacancyAdmin"><span
            :class="{active: adminVacancy}">Vacancies</span></h2>
      </div>
      <div>
        <AdminComponent :option="active" :companies="companies" :students="students" :vacancies="vacancies"></AdminComponent>
      </div>
    </div>
  </div>
  </body>
</template>

<script>
import {logout} from "@/helpers/userLog";
import axios from "axios";
import AdminComponent from "@/components/composites/AdminComponent";

export default {
  name: "AdminView",
  components: {AdminComponent},
  data() {
    return {
      adminStudent: true,
      adminCompany: false,
      adminVacancy: false,
      totalStudents: "",
      totalCompanies: 0,
      totalVacancies: 0,
      totalApplications: 0,
      students: [],
      companies: [],
      vacancies: [],
    };
  },
  methods: {
    logOut() {
      logout();
    },
    toggleStudentAdmin() {
      this.adminStudent = true;
      this.adminCompany = false;
      this.adminVacancy = false;
      this.getStudents();
    },
    toggleCompanyAdmin() {
      this.adminStudent = false;
      this.adminCompany = true;
      this.adminVacancy = false;
      this.getCompanies();
    },
    toggleVacancyAdmin() {
      this.adminStudent = false;
      this.adminCompany = false;
      this.adminVacancy = true;
      this.getVacancies();
    },
    getStudents() {
      axios
          .get("http://localhost:8080/api/students", {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`,
            },
          })
          .then((response) => {
            this.students = response.data;
            this.totalStudents = this.students.length;
            console.log(this.students);
          })
          .catch((error) => {
            console.log(error);
          });
    },
    getCompanies() {
      axios
          .get("http://localhost:8080/api/companies", {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`,
            },
          })
          .then((response) => {
            this.companies = response.data;
            this.totalCompanies = this.companies.length;
            console.log(this.companies);
          })
          .catch((error) => {
            console.log(error);
          });
    },
    getVacancies() {
      axios
          .get("http://localhost:8080/api/vacancies", {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`,
            },
          })
          .then((response) => {
            this.vacancies = response.data;
            this.totalVacancies = this.vacancies.length;
            console.log(this.vacancies);
          })
          .catch((error) => {
            console.log(error);
          });
    },
    getApplications() {
      axios
          .get("http://localhost:8080/api/applications", {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`,
            },
          })
          .then((response) => {
            this.applications = response.data;
            this.totalApplications = this.applications.length;
            console.log(this.applications);
          })
          .catch((error) => {
            console.log(error);
          });
    },
  },
  computed: {
    active() {
      if (this.adminStudent) {
        return "Students";
      } else if (this.adminCompany) {
        return "Companies";
      } else if (this.adminVacancy) {
        return "Vacancies";
      }
    },
  },
  created() {
    this.getStudents();
    this.getCompanies();
    this.getVacancies();
    this.getApplications();
  },
}
</script>

<style scoped>
.pointer {
  cursor: pointer;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #12181b;
  padding-bottom: 2vh;
}

.active {
  border-bottom: 2px #DB5461 solid;
  color: #DB5461;
}

.company-name {
  font-size: 50px;
  font-weight: bold;
  font-family: readex-pro, sans-serif;
  padding-top: 20px;
  color: #FAFAFA;
}

.admin-header {
  font-size: 30px;
  padding-left: 20px;
  color: #FAFAFA;
}


.admin-menu {
  padding-top: 20px;
  color: #FAFAFA;
}

.header {
  color: #f5f5f5;
  padding-top: 5vh;
}


.statistics-row {
  padding-top: 5vh;
}
</style>