<template>
  <form class="wrapper ">
    <h2>Post Vacancy</h2>
    <div class="form-group field">
      <label class="label">Position</label>
      <input v-model="this.vacancy.position" type="text" class="form-control" />
    </div>
    <div class="form-group field">
      <label class="label">Hourly rate</label>
      <input v-model="this.vacancy.hourly_pay" type="text" class="form-control" />
    </div>
    <div class="form-group field">
      <label class="label">About the vacancy</label>
      <input v-model="this.vacancy.about_vacancy" type="text" class="form-control" />
    </div>
    <div class="form-group field">
      <label class="label">Skills</label>
      <input
        v-model="this.vacancy.method_of_work"
        type="text"
        class="form-control"
      />
    </div>
    <button @click="this.postVacancy()" type="button" class="btn btn-primary">
      Post Vacancy
    </button>
  </form>
</template>

<script>
import axios from "axios";
export default {
  name: "Company Post Vacancy",
  data() {
    return {
      companyID: "No ID",
      vacancy: {
        position: "",
        method_of_work: "",
        about_vacancy:"",
        hourly_pay:"",
      },
    };
  },
  async created() {
    this.companyID = localStorage.getItem("userID");
  },
  methods: {
    async postVacancy() {
      console.log({ ...this.vacancy });
      const applyVacancy = await axios.post(
        `http://localhost:8080/api/companies/${this.companyID}/vacancy/create`,
      this.vacancy,
        {
          
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
      console.log(applyVacancy);
    },
  },
};
</script>

<style scoped>
.wrapper {
  width: 50%;
  margin:auto;
  padding-top: 50px;
}
.field {
  margin-top: 40px;
}
.btn {
  margin-top: 30px;
  float: left;
}
.label {
  float: left;
}
</style>
