<template>
  <div
    class="dashboard-wrapper"
    :class="{ sidebarExpand: this.$props.sidebarExpanded === true }"
  >
    <div class="content">
      <div class="jobs">
        <CompanyBlock
          v-for="vacancy in this.vacancies.data"
          :key="vacancy.vacancy_id"
          :position="vacancy.position"
          :company-name="vacancy.company.name"
          :company-address="vacancy.company.location"
          @click="setVacancy(vacancy.vacancy_id)"
        />
      </div>

      <VacancyStatus
        :key="componentKey"
        :vacancyID="this.selectedVacancy"
        :companyID="this.company"
        v-if="inDetails"
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CompanyBlock from "@/components/composites/CompanyBlock.vue";
import VacancyStatus from "@/components/composites/VacancyStatus.vue";
export default {
  name: "Company Dashboard",
  components: { CompanyBlock, VacancyStatus },
  props: {
    sidebarExpanded: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: true,
      company: "",
      inDetails: false,
      selectedVacancy: "",
      vacancies: "",
      componentKey: 0,
    };
  },
  async created() {
    this.company = localStorage.getItem("company_id");
    const companyVacancies = await axios.get(
      `http://localhost:8080/api/company/${localStorage.getItem(
        "userID"
      )}/vacancies`,
      {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      }
    );
    this.vacancies = companyVacancies;
    this.loading = false;
  },
  methods: {
    setVacancy(vacancyID) {
      this.selectedVacancy = vacancyID;
      this.inDetails = true;
      this.forceRerender();
    },
    forceRerender() {
      this.componentKey += 1;
    },
  },
};
</script>

<style scoped>
.dashboard-wrapper {
  padding-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}

.jobs {
  display: inline;
  padding-right: 50px;
  padding-bottom: 30px;
  float: left;
  width: 40%;
  height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}
</style>
