<template>
  <body class="body-home-view">
  <div id="app" class="bottom">
    <div id="top" class="container-fluid col-12 top">
      <div>
        <h1 class="company-name">EARN-IT</h1>
        <span class="company-slogan">The platform where students and companies connect</span>
        <div class="home-view-button">
          <div v-if="loggedIn" class="dashboard-button">
            <router-link v-if="student" to="/student/dashboard">
              <button class="btn btn-lg btn-outline-danger" type="button">Dashboard</button>
            </router-link>
            <router-link v-if="company" to="/company/dashboard">
              <button class="btn btn-lg btn-outline-danger" type="button">Dashboard</button>
            </router-link>
            <router-link v-if="admin" to="/admin/dashboard">
              <button class="btn btn-lg btn-outline-danger" type="button">Dashboard</button>
            </router-link>
          </div>
          <div v-else class="login-buttons">
            <router-link to="/login">
              <button class="btn btn-lg btn-outline-danger" type="button">Login</button>
            </router-link>
            <span class="button-between-text">or</span>
            <router-link to="/register">
              <button class="btn btn-lg btn-outline-danger" type="button">Register</button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom container overflow-hidden">
      <div class="row g-5">
        <div class="col-lg-6">
          <div id="studentID" class="p-3  student-block rounded">
            <div id="students" class=" ">
              <h2 class="students">Students</h2>
              <p class="bottom-text">For a regular job, your employer needs to apply for work visa, that's a hassle. 
                EarnIt helps you get self-employed and ready to take on jobs in just a few days.
                Most international students work on low-level/odd jobs that do not pay much.
                 We help you bridge theory and practice by finding higher-level employment. 
                This enables you to earn more while gaining experience in your preferred field.
                With a normal job, you could expect to wait around a month for your pay-check. 
                That is unnecessary. We offer you fast and secure payment within 3 working days.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div id="companiesID" class="p-3 company-block bottom rounded">
            <div id="companies" class="">
              <h2 class="companies">Companies</h2>
              <p class="bottom-text">Finding the right people is never cheap and easy. Most of the time, you have little control over the procedure. 
                EarnIt helps you employ people flexibly to meet your demand and gives you control over the process.It is expensive to find talent through established employment agencies. 
                At EarnIt, we help you find the right people for free and you only pay low prices when they meet expectations.
                International students are hard to employ. They have hours restrictions, require a lot of paperwork and need time to get registered.EarIT will handle that for you.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  </body>


</template>

<script>

export default {
  name: "HomeView",
  computed: {
    loggedIn() {
      return localStorage.getItem("loggedIn") === "true";
    },
    student() {
      return localStorage.getItem("userStatus") === "student";
    },
    company() {
      return localStorage.getItem("userStatus") === "company";
    },
    admin() {
      return localStorage.getItem("userStatus") === "admin";
    },
  }
}


</script>

<style scoped>
.body-home-view {
  font-family: raleway, sans-serif;
}

.bottom {
  background-color: #12181b;
  color: #FAFAFA;
}

.bottom-text {
  font-size: 1.5rem;
}

.button-between-text {
  font-size: 1.5rem;
  color: #FAFAFA;
  padding-left: 10px;
  padding-right: 10px;
}

.company-name {
  font-size: 50px;
  font-weight: bold;
  font-family: readex-pro, sans-serif;
  padding-top: 20px;
}

.company-slogan {
  font-size: 30px;
  padding-left: 20px;
}

.companies {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.company-block {
  background-color: #FAFAFA;
  color: black;
}

.home-view-button {
  padding-top: 35px;
}

.login-buttons {
  padding-left: 28px;
}

.students {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.student-block {
  background-color: #FAFAFA;
  color: black;

}

.top {
  background-color: #12181b;
  color: #FAFAFA;
  padding-bottom: 50px;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #12181b;
}
</style>