<template>
  <body>
  <div class="container-fluid">
    <div>
      <h1 class="company-name">EARN-IT</h1>
    </div>
    <div class="container text-center">
      <form>
        <div class="login-form">
          <div class="row col-sm-6 mx-auto email-input">
            <input
                id="email"
                v-model="email"
                class="form-control"
                name="email"
                placeholder="Email address"
                type="email"
            />
          </div>
          <div class="row col-sm-6 mx-auto password-input">
            <input
                id="inputPassword"
                v-model="password"
                class="form-control"
                name="password"
                placeholder="Password"
                type="password"
            />
          </div>
        </div>
        <button class="btn btn-outline-danger login-button btn-lg" type="button" @click="sendLoginFirebase()">Login</button>
      </form>
      <alert class="row col-sm-7 mx-auto" v-show="errorCode" :error-code="errorCode"></alert>
    </div>
  </div>
  </body>
</template>

<script>
import {getAuth, signInWithEmailAndPassword} from "firebase/auth";
import alert from "@/components/alerts/alert";
import {loginBackend} from "@/helpers/userLog";


export default {
  name: "LoginView",
  components: {alert},
  data() {
    return {
      email: "",
      password: "",
      errorCode: "",
    };
  },
  methods: {
    sendLoginFirebase() {
      const auth = getAuth()
      signInWithEmailAndPassword(auth, this.email, this.password)
          .then((userCredential) => {
            loginBackend()
          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
            console.log(errorCode, errorMessage, "error logging in");
            this.errorCode = errorCode;
          });
    },
  }
};
</script>

<style scoped>
html,
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #12181b;
}

.company-name {
  font-size: 50px;
  font-weight: bold;
  font-family: readex-pro, sans-serif;
  color: #f5f5f5;
  padding-top: 75px;
}

.text-center {
  text-align: center;
  color: #FAFAFA;
  padding-top: 25%;
}

.password-input {
  padding-top: 20px;
}

.login-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
