<template>
  <div class="profile-wrapper " v-if="!loading">
    <div class="content" v-if="this.userStatus === 'student'">
      <div class="information-title">Student Profile</div>
      <div class="profile-data">
        <ProfileDataBlock
          v-for="block in profileValues.student"
          class="profile-data-block"
          @itemChanged="updateStudentDataBlock"
          :apiName="block.apiName"
          :key="block.id"
          :dataName="block.label"
          :dataValue="block.value"
        />
        <div class="form-group row">
          <label
            style="font-weight: bold"
            for="inputPassword"
            class="col-sm-4 col-form-label"
            >CV</label
          >
          <div class="col-sm-2">
            <input
              style="width: 300px"
              accept="application/pdf"
              class="form-control input"
              type="file"
              @change="saveFile"
            />
          </div>
        </div>

        <div class="cv-grid">
          <ElementDecoration
            @click="uploadCV(this.profileValues.student.studentEmail.value)"
            text="Upload new CV"
          />
          <ElementDecoration
            @click="getCV(this.profileValues.student.studentEmail.value)"
            text="Download CV"
          />
          <ElementDecoration
            :isGreen="true"
            @click="saveProfileData"
            text="Save"
          />
        </div>
      </div>
    </div>
    <div v-else class="content">
      <div class="information-title">Company Profile</div>
      <div class="profile-data">
        <ProfileDataBlock
          v-for="block in profileValues.company"
          @itemChanged="updateCompanyDataBlock"
          class="profile-data-block"
          :apiName="block.apiName"
          :key="block.id"
          :dataName="block.label"
          :dataValue="block.value"
        />
        <div class="save-button-company">
          <ElementDecoration
            :isGreen="true"
            @click="saveProfileData()"
            text="Save"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ProfileDataBlock from "@/components/composites/TypeValueBlock.vue";
import ElementDecoration from "@/components/composites/ElementDecoration.vue";
import { getStorage, ref, getDownloadURL, uploadBytes } from "firebase/storage";
export default {
  name: "Student Profile",
  data() {
    return {
      student: "No ID",
      company: "No ID",
      loading: true,
      userStatus: "",
      file: null,
      profileValues: {
        student: {
          studentName: {
            apiName: "studentName",
            label: "Name",
            type: "number",
            value: "loading...",
          },
          studentDob: {
            apiName: "studentDob",
            label: "Birth Date",
            type: "text",
            value: "loading...",
          },
          studentEmail: {
            apiName: "studentEmail",
            label: "Email",
            type: "text",
            value: "loading...",
          },
          studentUniversity: {
            apiName: "studentUniversity",
            label: "University",
            type: "text",
            value: "loading...",
          },

          studentStudy: {
            apiName: "studentStudy",
            label: "Study",
            type: "text",
            value: "loading...",
          },
          studentSkills: {
            apiName: "studentSkills",
            label: "Skills",
            type: "text",
            value: "loading...",
          },
        },
        company: {
          companyName: {
            apiName: "companyName",
            label: "Name",
            type: "number",
            value: "loading...",
          },
          companyLocation: {
            apiName: "companyLocation",
            label: "Location",
            type: "text",
            value: "loading...",
          },
          companyField: {
            apiName: "companyField",
            label: "Field",
            type: "text",
            value: "loading...",
          },
          companyEmail: {
            apiName: "companyEmail",
            label: "Email",
            type: "text",
            value: "loading...",
          },
          companyPhone: {
            apiName: "companyPhone",
            label: "Phone",
            type: "text",
            value: "loading...",
          },
          companyContactPerson: {
            apiName: "companyContactPerson",
            label: "Contact Person",
            type: "text",
            value: "loading...",
          },
        },
      },
    };
  },
  async created() {
    this.userStatus = localStorage.getItem("userStatus");
    localStorage.setItem("dataName", "");
    localStorage.setItem("dataValue", "");

    console.log(this.userStatus);
    if (this.userStatus === "student") {
      const userData = await axios.get(
        `http://localhost:8080/api/student/${localStorage.getItem("userID")}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
      console.log(userData);
      this.profileValues.student.studentName.value = userData.data.name;
      this.profileValues.student.studentEmail.value =
        userData.data.account.email;
      this.profileValues.student.studentUniversity.value =
        userData.data.university;
      this.profileValues.student.studentDob.value = userData.data.dob;
      this.profileValues.student.studentStudy.value = userData.data.course;
      this.profileValues.student.studentSkills.value = userData.data.skills;
      this.loading = false;
    } else {
      this.company = localStorage.getItem("company_id");
      const userData = await axios.get(
        `http://localhost:8080/api/company/${localStorage.getItem("userID")}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
      console.log(userData);
      this.profileValues.company.companyName.value = userData.data.name;
      this.profileValues.company.companyLocation.value = userData.data.location;
      this.profileValues.company.companyField.value = userData.data.field;
      this.profileValues.company.companyEmail.value =
        userData.data.account.email;
      this.profileValues.company.companyPhone.value = userData.data.phone;
      this.profileValues.company.companyContactPerson.value =
        userData.data.contact_person;
      this.loading = false;
    }
  },
  methods: {
    async saveProfileData() {
      if (this.userStatus === "student") {
        const changeStudenData = await axios.put(
          `http://localhost:8080/api/student/edit/${localStorage.getItem(
            "userID"
          )}`,
          {
            email: this.profileValues.student.studentEmail.value,
            name: this.profileValues.student.studentName.value,
            dob: this.profileValues.student.studentDob.value,
            university: this.profileValues.student.studentUniversity.value,
            course: this.profileValues.student.studentStudy.value,
            skills: this.profileValues.student.studentSkills.value,
          },
          {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
        );
        console.log(changeStudenData);
      } else {
        const changeCompanyData = await axios.put(
          `http://localhost:8080/api/company/edit/${localStorage.getItem(
            "userID"
          )}`,
          {
            email: this.profileValues.company.companyEmail.value,
            name: this.profileValues.company.companyName.value,
            field: this.profileValues.company.companyField.value,
            location: this.profileValues.company.companyLocation.value,
            contact_person:
              this.profileValues.company.companyContactPerson.value,
            phone: this.profileValues.company.companyPhone.value,
          },
          {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
        );
        console.log(changeCompanyData);
      }
      window.location.reload();
    },
    updateStudentDataBlock() {
      this.profileValues.student[localStorage.getItem("dataName")].value =
        localStorage.getItem("dataValue");
    },
    updateCompanyDataBlock() {
      this.profileValues.company[localStorage.getItem("dataName")].value =
        localStorage.getItem("dataValue");
    },
    saveFile(event) {
      this.file = event.target.files[0];
    },
    getCV(studentEmail) {
      // Create a reference to the file we want to download
      const storage = getStorage();

      const starsRef = ref(storage, "student/" + studentEmail + "/cv.pdf");

      // Get the download URL
      getDownloadURL(starsRef)
        .then((CV) => {
          const link = document.createElement("a");
          link.href = CV;
          link.setAttribute("download", "CV");
          document.body.appendChild(link);
          link.click();
        })
        .catch((error) => {
          // A full list of error codes is available at
          // https://firebase.google.com/docs/storage/web/handle-errors
          switch (error.code) {
            case "storage/object-not-found":
              // File doesn't exist
              break;
            case "storage/unauthorized":
              // User doesn't have permission to access the object
              break;
            case "storage/canceled":
              // User canceled the upload
              break;

            // ...

            case "storage/unknown":
              // Unknown error occurred, inspect the server response
              break;
          }
        });
    },
    uploadCV(studentEmail) {
      const storage = getStorage();
      const studentCvRef = ref(storage, "student/" + studentEmail + "/cv.pdf");
      uploadBytes(studentCvRef, this.file).then((snapshot) => {
        console.log("Uploaded a blob or file!");
      });
    },
  },

  components: {
    ProfileDataBlock,
    ElementDecoration,
  },
};
</script>

<style scoped>
.form-group {
  margin-top: 45px;
  margin-left: -40px;
}
.profile-data {
  margin-top:30px;
  margin-left: -130px;
}
.profile-data-block{
  margin-top:30px;

}

.input {
  width: 300px;
  height: 39px;
}
.cv-grid {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 55px;
  margin-top: 50px;
  margin-left: 200px;
}
.save-button {
  margin-left: 450px;
}
.save-button-company {
  margin-left: 450px;
  margin-top: 50px;
}
.cv-button {
  margin-left: 130px;
}

.profile-wrapper {
  padding-top: 10px;
  padding-right: 70px;
  height: auto;
}
.content {
  margin-left: 200px;
  height: 730px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 6px #0000000a;
  border-radius: 13px;
  background: white;
  padding-top: 30px;
  padding-left: 40px;
  border: 1px solid #caced5;
  width: 85%;
  background-color:#fafafa;
}
.information-title {
  color: #fafafa;
  font: normal normal bold 20px/32px Nunito;
  background-color: #12181b;
  height: 70px;
  margin-left: -40px;
  margin-top: -30px;
  border-radius: 13px;
  padding-left: 30px;
  padding-top: 20px;
  border-bottom: 1px solid #caced5;
}
</style>
