<template>
  <body>
  <div class="container-fluid">
    <div class="row register-menu col-sm-12 mx-auto">
      <h2 id="selectStudent" class="pointer col-sm-4 mx-auto" @click="showStudentRegistration"><span
          :class="{active: registerStudent}">Student</span></h2>
      <h2 id="selectCompany" class="pointer col-sm-4 mx-auto" @click="showCompanyRegistration"><span
          :class="{active: registerCompany}">Company</span></h2>
    </div>
    <div v-if="registerStudent">
      <StudentRegistration></StudentRegistration>
    </div>
    <div v-if="registerCompany">
      <CompanyRegistration></CompanyRegistration>
    </div>
  </div>

  </body>

</template>

<script>
import StudentRegistration from "@/components/composites/StudentRegistration";
import CompanyRegistration from "@/components/composites/CompanyRegistration";

export default {
  name: "RegistrationView",
  components: {CompanyRegistration, StudentRegistration},
  data() {
    return {
      registerStudent: true,
      registerCompany: false,
    };
  },
  methods: {
    showStudentRegistration() {
      this.registerStudent = true;
      this.registerCompany = false;
    },
    showCompanyRegistration() {
      this.registerStudent = false;
      this.registerCompany = true;
    },
  },
};
</script>

<style scoped>
.pointer {
  cursor: pointer;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #12181b;
}

.register-menu {
  padding-top: 20px;
  color: #FAFAFA;
}

.active {
  border-bottom: 2px #DB5461 solid;
  color: #DB5461;
}

</style>
