<template>
  <div class="dashboard-wrapper" :class="{sidebarExpand:this.$props.sidebarExpanded}">
    <div class="content">
      <div class="jobs">
        <CompanyBlock
          v-for="vacancy in this.vacancies.data"
          :key="vacancy.vacancy_id"
          :position=vacancy.position
          :company-name="vacancy.company.name"
          :company-address="vacancy.company.location"
          @click="setVacancy(vacancy.vacancy_id)"
        />
      </div>
      <CompanyDetailBlock :key="componentKey" :vacancyID="this.selectedVacancy" :studentID="this.student" v-if="inDetails" />
    </div>
  </div>
</template>

<script>
import CompanyBlock from "@/components/composites/CompanyBlock.vue";
import ElementDecoration from "../components/composites/ElementDecoration.vue";
import CompanyDetailBlock from "@/components/composites/CompanyDetailBlock.vue";
import axios from "axios";
export default {
  name: "StudentView",
  components: { CompanyBlock, ElementDecoration, CompanyDetailBlock },
  props:{
    sidebarExpanded:{
      type:Boolean,
    }
  },
  data() {
    return {
      inDetails: false,
      selectedVacancy: "Nothing Selected",
      vacancies:"No Vacancies",
      componentKey:0,
    };
  },
  async created(){
    const allVacancies = await axios.get(`http://localhost:8080/api/student/vacanciesAppliedFor/${localStorage.getItem('userID')}`, {
        headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
        }
    });
    this.vacancies = allVacancies;
    
  },
  methods: {
    setVacancy(vacancyID) {
      this.inDetails = false;
      this.inDetails = true;
      this.selectedVacancy=vacancyID;
      this.forceRerender();
    },
    forceRerender(){
      this.componentKey+=1;
    }
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@1000&display=swap");
.dashboard-wrapper {
  padding-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
 
}

.jobs {
  display: inline;
  float: left;
  width: 40%;
  height: 800px;
  margin-right:50px;
  padding-right: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}
</style>
