<template>
    <div class="modal fade" id="studentAdminModal" tabindex="-1" aria-labelledby="studentAdminModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Student</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div v-if="object">
                <form>
                  <div class="row align-items-center g-1">
                    <div class="col-3">
                      <label for="inputStudentName" class="form-label row">Name:</label>
                    </div>
                    <div class="col-4">
                      <input type="text" id="disabledStudentName" class="form-control row" :value="object.name" disabled>
                    </div>
                    <div class="col-1 align-items-center">
                      <i class="bi-arrow-right"></i>
                    </div>
                    <div class="col-4">
                      <input type="text" id="inputStudentName" class="form-control row" :value="object.name" required>
                    </div>
                  </div>
                  <div class="row align-items-center g-1">
                    <div class="col-3">
                      <label for="inputStudentEmail" class="form-label row">Email:</label>
                    </div>
                    <div class="col-4">
                      <input type="text" id="disabledStudentEmail" class="form-control row" :value="object.account.email" disabled>
                    </div>
                    <div class="col-1 align-items-center">
                      <i class="bi-arrow-right"></i>
                    </div>
                    <div class="col-4">
                      <input type="text" id="inputStudentEmail" class="form-control row" :value="object.account.email" disabled>
                    </div>
                  </div>
                  <div class="row align-items-center g-1">
                    <div class="col-3">
                      <label for="inputStudentPassword" class="form-label row">Password:</label>
                    </div>
                    <div class="col-4">
                      <input type="password" id="disabledStudentPassword" class="form-control row" :value="object.password" disabled>
                    </div>
                    <div class="col-1 align-items-center">
                      <i class="bi-arrow-right"></i>
                    </div>
                    <div class="col-4">
                      <input type="password" id="inputStudentPassword" class="form-control row" :value="object.password" disabled>
                    </div>
                  </div>
                  <div class="row align-items-center g-1">
                    <div class="col-3">
                      <label for="inputStudentName" class="form-label row">Birthday:</label>
                    </div>
                    <div class="col-4">
                      <input type="date" id="disabledStudentDOB" class="form-control row" :value="object.dob" disabled>
                    </div>
                    <div class="col-1 align-items-center">
                      <i class="bi-arrow-right"></i>
                    </div>
                    <div class="col-4">
                      <input type="date" id="inputStudentDOB" class="form-control row" :value="object.dob" required>
                    </div>
                  </div>
                  <div class="row align-items-center g-1">
                    <div class="col-3">
                      <label for="inputStudentUniversity" class="form-label row">University:</label>
                    </div>
                    <div class="col-4">
                      <input type="text" id="disabledStudentUniversity" class="form-control row" :value="object.university" disabled>
                    </div>
                    <div class="col-1 align-items-center">
                      <i class="bi-arrow-right"></i>
                    </div>
                    <div class="col-4">
                      <input type="text" id="inputStudentUniversity" class="form-control row" :value="object.university" required>
                    </div>
                  </div>
                  <div class="row align-items-center g-1">
                    <div class="col-3">
                      <label for="inputStudentMajor" class="form-label row">Major:</label>
                    </div>
                    <div class="col-4">
                      <input type="text" id="disabledStudentMajor" class="form-control row" :value="object.course" disabled>
                    </div>
                    <div class="col-1 align-items-center">
                      <i class="bi-arrow-right"></i>
                    </div>
                    <div class="col-4">
                      <input type="text" id="inputStudentMajor" class="form-control row" :value="object.course" required>
                    </div>
                  </div>
                  <div class="row align-items-center g-1">
                    <div class="col-3">
                      <label for="inputStudentSkills" class="form-label row">Skills:</label>
                    </div>
                    <div class="col-4">
                      <input type="text" id="disabledStudentSkills" class="form-control row" :value="object.skills" disabled>
                    </div>
                    <div class="col-1 align-items-center">
                      <i class="bi-arrow-right"></i>
                    </div>
                    <div class="col-4">
                      <input type="text" id="inputStudentSkills" class="form-control row" :value="object.skills" required>
                    </div>
                  </div>
                  <div class="row align-items-center g-1">
                    <div class="col-3">
                      <label for="inputStudentCV" class="form-label row">CV:</label>
                    </div>
                    <div class="col-4">
                      <input type="file" id="disabledStudentCV" class="form-control row" value="CV" disabled>
                    </div>
                    <div class="col-1 align-items-center">
                      <i class="bi-arrow-right"></i>
                    </div>
                    <div class="col-4">
                      <input type="file" id="inputStudentCV" class="form-control row" value="CV" disabled>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="saveChangesStudent">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
  name: "AdminComponentModal",
  props: {
    object: Object,
  },
  data() {
    return {
      studentEmail: "",
      studentPassword: "",
      studentName: "",
      studentDOB: "",
      studentUniversity: "",
      studentMajor: "",
      studentSkills: "",
      studentCV: "",
    };
  },
  methods: {
    saveChangesStudent() {
      this.studentEmail = document.getElementById("inputStudentEmail").value;
      this.studentPassword = document.getElementById("inputStudentPassword").value;
      this.studentName = document.getElementById("inputStudentName").value;
      this.studentDOB = document.getElementById("inputStudentDOB").value;
      this.studentUniversity = document.getElementById("inputStudentUniversity").value;
      this.studentMajor = document.getElementById("inputStudentMajor").value;
      this.studentSkills = document.getElementById("inputStudentSkills").value;
      this.studentCV = document.getElementById("inputStudentCV").value;
      let headers = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      let data = {
        name: this.studentName,
        dob: this.studentDOB,
        university: this.studentUniversity,
        course: this.studentMajor,
        skills: this.studentSkills,
      };
      let url = `http://localhost:8080/api/student/edit/${this.object.student_id}`
      axios.put(url, data, {headers: headers}).then((response) => {
        console.log(response);
      });
      this.$router.go();
    },
  },
}
</script>

<style scoped>
</style>