<template>
  <div class="adminComponent">
    <div v-if="option === 'Students' ">
      <div v-for="student in students">
        <div class="card studentCard adminCard">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">
              {{student.name}}
            </h5>
            <div>
              <div>
                <span class="fieldHeader">Email: </span>
                <span class="fieldContent">{{student.account.email}}</span>
              </div>
              <div>
                <span class="fieldHeader">Registration Date: </span>
                <span class="fieldContent">{{student.account.date_created}}</span>
              </div>
              <div>
                <span class="fieldHeader">University: </span>
                <span class="fieldContent">{{student.university}}</span>
              </div>
              <div>
                <span class="fieldHeader">Major: </span>
                <span class="fieldContent">{{student.course}}</span>
              </div>
              <div>
                <span class="fieldHeader">Skills: </span>
                <span class="fieldContent">{{student.skills}}</span>
              </div>
            </div>
            <div class="cardButtons">
              <button class="btn btn-secondary float-start col-2" data-bs-toggle="modal" data-bs-target="#studentAdminModal" @click="selectObject(student)">Edit</button>
              <button class="btn btn-danger float-end col-2" @click="deleteStudent(student.account.id)">Delete</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div v-else-if="option === 'Companies' ">
      <div v-for="company in companies">
        <div class="card studentCard adminCard">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">
              {{company.name}}
            </h5>
            <div>
              <div>
                <span class="fieldHeader">Email: </span>
                <span class="fieldContent">{{company.account.email}}</span>
              </div>
              <div>
                <span class="fieldHeader">Registration Date: </span>
                <span class="fieldContent">{{company.account.date_created}}</span>
              </div>
              <div>
                <span class="fieldHeader">Field: </span>
                <span class="fieldContent">{{company.field}}</span>
              </div>
              <div>
                <span class="fieldHeader">Location: </span>
                <span class="fieldContent">{{company.location}}</span>
              </div>
              <div>
                <span class="fieldHeader">Contact Person: </span>
                <span class="fieldContent">{{company.contact_person}}</span>
              </div>
              <div>
                <span class="fieldHeader">Phone Number: </span>
                <span class="fieldContent">{{company.phone}}</span>
              </div>
            </div>
            <div class="cardButtons">
              <button class="btn btn-secondary float-start col-2" data-bs-toggle="modal" data-bs-target="#companyAdminModal" @click="editCompany(company.account.id)">Edit</button>
              <button class="btn btn-danger float-end col-2" @click="editCompany(company.account.id)">Delete</button>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div v-else-if="option === 'Vacancies' ">
      <div v-for="vacancy in vacancies">
        <div class="card studentCard adminCard">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">
              {{vacancy.position}}
              <span> @ </span>
              {{vacancy.company.name}}
            </h5>
            <div>
              <div>
                <span class="fieldHeader">Work: </span>
                <span class="fieldContent">{{vacancy.method_of_work}}</span>
              </div>
              <div>
                <span class="fieldHeader">Hourly Pay: </span>
                <span class="fieldContent">{{vacancy.hourly_pay}}</span>
              </div>
              <div>
                <span class="fieldHeader">Filled: </span>
                <span class="fieldContent">{{vacancy.is_filled}}</span>
              </div>
            </div>
            <div class="cardButtons">
              <button class="btn btn-secondary float-start col-2" data-bs-toggle="modal" data-bs-target="#vacancyAdminModal"  @click="editVacancy(vacancy.id)">Edit</button>
              <button class="btn btn-danger float-end col-2" @click="editVacancy(vacancy.id)">Delete</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <adminComponentModal :object="object"></adminComponentModal>

</template>

<script>
import adminComponentModal from "@/components/composites/AdminComponentModal";
export default {
  name: "adminComponent",
  components: {
    adminComponentModal,
  },
  props: {
    option: String,
    students: Array,
    companies: Array,
    vacancies: Array,
  },
  data() {
    return {
      object: null,
    };
  },
  methods: {
    selectObject(object) {
      this.object = object;
      console.log(this.object);
    },
  }
}

</script>

<style scoped>
.adminComponent {
  margin-top: 2vh;
}

.adminCard {
  margin-top: 2vh;
}

.cardButtons {
  margin-top: 1vh;
}

.fieldHeader {
  font-weight: bold;
}

.studentCard {
  text-align: left;
}
</style>