<template>
  <div class="details-wrapper">
    <div class="details-content">
      <div class="company-data d-flex">
        <div class="company-information">
          <div class="position">{{ currentVacancy.position }}</div>
          <div class="company-address line-grid">
            <div>{{ currentVacancy.company.name }}</div>
            <div>{{ currentVacancy.company.location }}</div>
          </div>
          <div class="line-grid">
            <i class="bi bi-briefcase-fill"></i>
            <p>{{ currentVacancy.company.field }}</p>
          </div>
          <div class="line-grid">
            <i class="bi bi-lightbulb"></i>
            <p>{{ currentVacancy.method_of_work }}</p>
          </div>
          <div class="line-grid">
            <i class="bi bi-chat-right-text"></i>
            <p>{{ currentVacancy.company.phone }}</p>
          </div>
          <div class="line-grid">
            <i class="bi bi-envelope-fill"></i>
            <p>{{ currentVacancy.company.account.email }}</p>
          </div>
          <div class="line-grid">
            <i class="bi bi-cash"></i>
            <p>{{ currentVacancy.hourly_pay }} euros per hour</p>
          </div>
          <div class="about d-flex justify-content-start">
            <div>{{ currentVacancy.about_vacancy }}</div>
          </div>
        </div>
        <div
          class="company-status d-flex justify-content-center align-self-center"
        >
          <div
            v-if="
              currentVacancy.is_filled &&
              filterApplications(this.userID).length === 0
            "
          >
            <ElementDecoration text="Full" />
          </div>
          <div
            v-else-if="
              currentVacancy.is_filled &&
              !filterApplications(this.userID)[0].status === 1
            "
          >
            <ElementDecoration text="Full" />
          </div>
          <div v-else-if="filterApplications(this.userID).length === 0">
            <ElementDecoration
              @click="this.postVacancyApplication"
              :isGreen="true"
              text="Apply"
            />
          </div>

          <div v-else-if="filterApplications(this.userID)[0].status === 0">
            <ElementDecoration :isGreen="true" text="Pending" />
          </div>
          <div v-else-if="filterApplications(this.userID)[0].status === 1">
            <ElementDecoration text="Accepted" :isGreen="true" />
          </div>
          <div v-else-if="filterApplications(this.userID)[0].status === 2">
            <ElementDecoration text="Withdrawn" />
          </div>
          <div v-else-if="filterApplications(this.userID)[0].status === 3">
            <ElementDecoration text="Rejected" />
          </div>
        </div>
      </div>

      <div
        class="form-group"
        v-if="
          filterApplications(this.userID).length > 0 &&
          filterApplications(this.userID)[0].status === 1
        "
      >
        <hr />
        <div class="d-flex justify-content-evenly">
          <label>Please fill in your hours for this month</label>
          <input
            style="width: 200px"
            v-model="this.studentHours"
            type="number"
            class="form-control"
            placeholder="Enter hours"
          />
          <ElementDecoration
            @click="this.postStudentHours()"
            text="Submit hours"
          />
        </div>
        <hr />

        <div class="invoice-button d-flex justify-content-center">
          <ElementDecoration
            @click="this.generateInvoice()"
            text="Export Invoice"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ElementDecoration from "./ElementDecoration.vue";
import "bootstrap-icons/font/bootstrap-icons.css";
import jsPDF from "jspdf";
import axios from "axios";
import logo from "@/assets/images/earn_it.png";
import { convertToURL } from "@/helpers/userLog";
export default {
  components: { ElementDecoration },
  props: {
    vacancyID: {
      type: String,
    },
    studentID: {
      type: String,
    },
  },
  data() {
    return {
      earnLogo: logo,
      currentVacancy: "No Vacancy",
      studentHours: "",
      userID: "",
    };
  },
  async created() {
    this.userID = localStorage.getItem("userID");
    const vacancyDetails = await axios.get(
      `http://localhost:8080/api/vacancies/${this.$props.vacancyID}`,
      {}
    );
    this.currentVacancy = vacancyDetails.data;
    console.log(vacancyDetails);
    if (
      !(
        this.currentVacancy.applications.filter(
          (application) => application.student.student_id === this.userID
        ).length === 0
      )
    ) {
      if (
        this.currentVacancy.is_filled &&
        this.currentVacancy.applications.filter(
          (application) => application.student.student_id === this.userID
        )[0].status != 1
      ) {
        const changeStatus = await axios.put(
          `http://localhost:8080/api/vacancies/changeApplicationStatus/${
            this.currentVacancy.applications.filter(
              (application) => application.student.student_id === this.userID
            )[0].application_id
          }/3`,
          {}
        );
      }
    }
  },

  methods: {
    filterApplications(id) {
      console.log(
        this.currentVacancy.applications.filter(
          (application) => application.student.student_id === id
        )
      );
      return this.currentVacancy.applications.filter(
        (application) => application.student.student_id === id
      );
    },
    async postVacancyApplication() {
      const applyVacancy = await axios.post(
        `http://localhost:8080/api/students/${this.$props.studentID}/applications/${this.$props.vacancyID}`,
        {}
      );
      console.log(applyVacancy);
    },
    async postStudentHours() {
      const changeStatus = await axios.put(
        `http://localhost:8080/api/students/${this.$props.studentID}/monthly_hours/${this.$props.vacancyID}/${this.studentHours}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
    },
    generateInvoice() {
      const invoice = new jsPDF();
      invoice.text("Invoice from EARN IT", 55, 15);
      invoice.text("RandomCompany BV.", 15, 35);
      invoice.text("Ariensplein 1 - 43", 15, 45);
      invoice.text("7511JX Enschede", 15, 55);
      invoice.text("KvK-nummer: 84818391", 15, 65);
      invoice.text("IBAN-nummer: NL872378201739", 15, 75);
      invoice.text("Factuurnummer: 0001: ", 135, 85);
      invoice.text("Factuurdatum: 04-10-2022: ", 135, 95);
      invoice.text("Faisal Services", 15, 105);
      invoice.text("De Veldmaat 10", 15, 115);
      invoice.text("7522 NM Enschede", 15, 125);
      invoice.text("Kvk nummer: -", 15, 135);
      invoice.text("IBAN-nummer: NL22ABNA89232399", 15, 145);
      invoice.text("BTW-Nummer: NL004412501C12", 15, 155);
      invoice.text("Maandnumber 09", 15, 175);
      invoice.text(
        "Totaal Bedrag: " +
          (this.currentVacancy.applications.filter(
            (application) => application.student.student_id === this.userID
          )[0].monthly_hours)*this.currentVacancy.hourly_pay,
        15,
        185
      );
      invoice.save("invoice.pdf");
    },
  },
};
</script>

<style scoped>
.details-wrapper {
  width: 55%;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-family: "Readex Pro", sans-serif;
  font-size: 25px;
  background-color: #fafafa;
  border-radius: 40px;
  margin-bottom: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.position {
  font-size: 50px;
}
.about {
  background-color: #e8e8e8;
  margin-bottom: 20px;
  margin-left: 25px;
  width: 890px;
  border-radius: 20px;
  height: 160px;
  padding-left: 20px;
  text-align: left;
}
.line-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 70px;
  justify-content: left;
  margin-left: 60px;
  grid-gap: 20px;
}
.company-address {
  justify-content: space-around;
  font-size: 33px;
}
.company-status {
  margin-left: -300px;
}
.invoice-button {
  margin-bottom: 30px;
  margin-top: 20px;
}
</style>
