<template>
  <div class="wrapper">
    <div class="job-grid">
      <div class="position">{{ position }}</div>
      <div class="company-name">{{ companyName }}</div>
      <div class="company-address">{{ companyAddress }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CompanyBlock",
  props: {
    position: {
      type: String,
    },
    companyName: {
      type: String,
    },
    companyAddress: {
      type: String,
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@1000&family=Readex+Pro:wght@350&display=swap");
.wrapper {
  display: grid;
  text-align: left;
  grid-template-columns: 80%;
  grid-template-rows: 40px 40px 40px;
  margin-left: 150px;
  margin-top:10px;
  height: 190px;
  transition: all 0.2s ease-in-out;
  padding-left: 30px;
  padding-top: 30px;
  font-family: "Readex Pro", sans-serif;
  color:#FAFAFA;
  background-color:#12181B;
  font-size: 25px;
  border-radius:40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
.position {
  font-weight: bold;
}
.wrapper:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.job-grid {
  display: grid;
  grid-template-columns: 90% 50%;
  grid-template-rows: 80px 50px;
}
</style>
