<template>
  <section class="container">
    <form id="companyRegistration" class="needs-validation" novalidate>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="companyRegistrationEmail">Email address</label>
        <div class="col-sm-8">
          <input
              id="companyRegistrationEmail"
              v-model="email"
              class="form-control input"
              required
              type="email"
          />
          <div class="invalid-feedback">Please enter a valid email.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="companyRegistrationPassword">Password</label>
        <div class="col-sm-8">
          <input
              id="companyRegistrationPassword"
              v-model="password"
              class="form-control input"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              required
              title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
              type="password"
          />
          <div class="invalid-feedback">
            Password must contain at least one number and one uppercase and
            lowercase letter, and at least 8 or more characters.
          </div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="companyRegistrationName">Company Name</label>
        <div class="col-sm-8">
          <input
              id="companyRegistrationName"
              v-model="companyName"
              class="form-control input"
              required
              type="text"
          />
          <div class="invalid-feedback">Please enter your company name.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="companyRegistrationField">Field</label>
        <div class="col-sm-8">
          <input
              id="companyRegistrationField"
              v-model="field"
              class="form-control input"
              required
              type="text"
          />
          <div class="invalid-feedback">Please enter your company field.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="companyRegistrationContactPerson">Contact Person</label>
        <div class="col-sm-8">
          <input
              id="companyRegistrationContactPerson"
              v-model="contactPerson"
              class="form-control input"
              required
              type="text"
          />
          <div class="invalid-feedback">Please enter your contact person.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="companyRegistrationLocation">Location</label>
        <div class="col-sm-8">
          <input
              id="companyRegistrationLocation"
              v-model="location"
              class="form-control input"
              required
              type="text"
          />
          <div class="invalid-feedback">Please enter your company location.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="companyRegistrationPhoneNumber">Phone Number</label>
        <div class="col-sm-8">
          <input
              id="companyRegistrationPhoneNumber"
              v-model="phoneNumber"
              class="form-control input"
              required
              type="text"
          />
          <div class="invalid-feedback">Please enter your company phone number.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="companyRegistrationLogo">Company Logo</label>
        <div class="col-sm-8">
          <input id="companyRegistrationLogo" accept="image/*" class="form-control input" required type="file"
                 @change="saveFile">
          <div class="invalid-feedback">
            Please upload your company logo.
          </div>
        </div>
      </div>
      <button class="btn btn-outline-danger btn-lg" @click="register()">Register</button>
    </form>
  </section>


</template>

<script>
import {createUserWithEmailAndPassword, getAuth} from "firebase/auth";
import axios from "axios";
import {getStorage, ref, uploadBytes} from "firebase/storage";
import {loginBackend} from "@/helpers/userLog";

export default {
  name: "StudentRegistration",
  data() {
    return {
      email: "",
      password: "",
      name: "",
      field: "",
      location: "",
      contactPerson: "",
      phone: "",
    };
  },
  methods: {
    register() {
      console.log("Registering Company");
      let forms = document.querySelectorAll('.needs-validation')
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              event.preventDefault()
              event.stopPropagation()
              form.classList.add('was-validated')
            }, false)
          })
      let fields = document.querySelectorAll('.form-control:invalid')
      if (fields.length === 0) {
        const auth = getAuth();
        createUserWithEmailAndPassword(auth, this.email, this.password)
            .then((userCredential) => {
              const user = userCredential.user;
              console.log(user);
              axios.post("http://localhost:8080/api/company/create", {
                email: this.email,
                password: this.password,
                name: this.name,
                field: this.field,
                location: this.location,
                contact_person: this.contactPerson,
                phone: this.phone,
              }).then((response) => {
                loginBackend();
                console.log(response);
              }).catch((error) => {
                console.log(error);
                //TODO if error delete user from firebase because user was not registered in the database
              });
              try {
                this.uploadFile()
              } catch (e) {
                //TODO what behaviour if file upload fails
                console.log(e)
              }
            })
            .catch((error) => {
              const errorCode = error.code;
              const errorMessage = error.message;
              console.log(errorCode, errorMessage);
            });
      }
    },
    saveFile(event) {
      this.file = event.target.files[0];
    },
    uploadFile() {
      const storage = getStorage();
      const companyLogoRef = ref(storage, 'company/' + this.email + '/logo.pdf');
      uploadBytes(companyLogoRef, this.file)
          .then((snapshot) => {
            console.log('Uploaded a blob or file!');
          });
    },
  },
}
</script>

<style scoped>
.registration-form {
  padding-top: 50px;
  color: #FAFAFA;

}
</style>