<template>
  <div class="button" :class="{ shadowGreen: isGreen }">
    {{ text }}
  </div>
</template>

<script>
export default {
  name: "IconShadow",
  props: {
    text: {
      default: "",
    },
    isPrice: {
      default: false,
    },
    isGreen: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
.button{
  position: relative;
  background-color: #DB5461;
  border-radius: 15px;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  width:200px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:hover {
  transition-duration: 0.1s;
  background-color: #3A3A3A;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 200%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}
.shadowGreen {
  background-color: #0acf97;
}
</style>
