<template>
  <section class="container">
    <form id="studentRegistration" class="needs-validation" novalidate>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="studentRegistrationEmail"
        >Email address</label
        >
        <div class="col-sm-8">
          <input
              id="studentRegistrationEmail"
              v-model="email"
              class="form-control input"
              required
              type="email"
          />
          <div class="invalid-feedback">Please enter a valid email.</div>

        </div>

      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="studentRegistrationPassword">Password</label>
        <div class="col-sm-8">
          <input
              id="studentRegistrationPassword"
              v-model="password"
              class="form-control input"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              required
              title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
              type="password"
          />
          <div class="invalid-feedback">
            Password must contain at least one number and one uppercase and
            lowercase letter, and at least 8 or more characters.
          </div>
        </div>


      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="studentRegistrationFirstName">First Name</label>
        <div class="col-sm-8">
          <input
              id="studentRegistrationFirstName"
              v-model="firstName"
              class="form-control input"
              required
              type="text"
          />
          <div class="invalid-feedback">Please enter your first name.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="studentRegistrationLastName">Last Name</label>
        <div class="col-sm-8">
          <input
              id="studentRegistrationLastName"
              v-model="lastName"
              class="form-control input"
              required
              type="text"
          />
          <div class="invalid-feedback">Please enter your last name.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="studentRegistrationBirthday">Birthday</label>
        <div class="col-sm-8">
          <input
              id="studentRegistrationBirthday"
              v-model="birthday"
              class="form-control input"
              required
              type="date"
          />
          <div class="invalid-feedback">Please enter your date of birth.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="studentRegistrationUniversity">University</label>
        <div class="col-sm-8">
          <input
              id="studentRegistrationUniversity"
              v-model="university"
              class="form-control input"
              required
              type="text"
          />
          <div class="invalid-feedback">Please enter your university.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="studentRegistrationMajor">Major</label>
        <div class="col-sm-8">
          <input
              id="studentRegistrationMajor"
              v-model="major"
              class="form-control input"
              required
              type="text"
          />
          <div class="invalid-feedback">Please enter your major.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="studentRegistrationSkills">Skills</label>
        <div class="col-sm-8">
        <textarea
            id="studentRegistrationSkills"
            v-model="skills"
            class="form-control input"
            required
            rows="3"
            type="text"
        ></textarea>
          <div class="invalid-feedback">Please enter your skills.</div>
        </div>
      </div>
      <div class="mb-3 row registration-form col-sm-12 mx-auto">
        <label class="col-sm-4 col-form-label" for="studentRegistrationCV">CV</label>
        <div class="col-sm-8">
          <input
              id="studentRegistrationCV"
              accept="application/pdf"
              class="form-control input"
              type="file"
              @change="saveFile"
          />
          <div class="invalid-feedback">Please upload your CV.</div>
        </div>
      </div>
      <button class="btn btn-outline-danger btn-lg" @click="register()">
        Register
      </button>
    </form>
  </section>
</template>

<script>
import {createUserWithEmailAndPassword, getAuth} from "firebase/auth";
import axios from "axios";
import {getStorage, ref, uploadBytes} from "firebase/storage";
import {loginBackend, logout} from "@/helpers/userLog";


export default {
  name: "StudentRegistration",
  data() {
    return {
      email: "",
      password: "",
      firstName: "",
      lastName: "",
      birthday: "",
      university: "",
      major: "",
      skills: "",
      file: null,
    };
  },
  methods: {
    register() {
      const auth = getAuth();
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      let forms = document.querySelectorAll(".needs-validation")
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener("submit", function (event) {
              event.preventDefault()
              event.stopPropagation()
              form.classList.add("was-validated")
            }, false)
          })
      let fields = document.querySelectorAll(".form-control:invalid")
      if (fields.length === 0) {
        console.log("all fields are valid")
        createUserWithEmailAndPassword(auth, this.email, this.password)
          .then((userCredential) => {
            console.log("User created in firebase");
            const user = userCredential.user;
            console.log(user);
            axios
              .post("http://localhost:8080/api/student/create", {
                email: this.email,
                name: this.firstName + " " + this.lastName,
                dob: this.birthday,
                university: this.university,
                course: this.major,
                skills: this.skills,
              }).then((response) => {
                loginBackend()
                console.log(response);
              })
              .catch((error) => {
                console.log(error);
                //TODO remove user from firebase as the user is not created in the backend
                logout()
              });
              try {
                this.uploadFile()
              } catch (e) {
                console.log(e)
                // TODO what to do if file upload fails
              }
            })
            .catch((error) => {
              const errorCode = error.code;
              const errorMessage = error.message;
              console.log(errorCode, errorMessage);
            });
      }
    },
    saveFile(event) {
      this.file = event.target.files[0];
    },
    uploadFile() {
      const storage = getStorage();
      const studentCvRef = ref(storage, "student/" + this.email + "/cv.pdf");
      uploadBytes(studentCvRef, this.file)
          .then((snapshot) => {
            console.log("Uploaded a blob or file!");
          });
    },
  },
};
</script>

<style scoped>
.registration-form {
  padding-top: 50px;
  color: #FAFAFA;

}
</style>
