<template>
  <div class="row wrapper">
    <div class="data-name col-sm-4">
      {{ dataName }}
    </div>
    <div class="col-sm-2">
      <input
        :type="text"
        v-model="input"
        class="form-control"
        :placeholder="dataValue"
      />
    </div>
  </div>
</template>

<script>
import "bootstrap-icons/font/bootstrap-icons.css";
import "bootstrap";

export default {
  name: "ProfileDataBlock",
  props: {
    dataName: {
      type: String,
      default: "loading...",
    },
    dataValue: {
      type: String,
      default: "loading...",
    },
    apiName:{
      type:String,
      default: "loading...",
    }
  },
  data() {
    return {
      input: "",
    };
  },
  methods:{
    sendNewItem(){
      localStorage.setItem('dataName',this.$props.apiName)
      localStorage.setItem('dataValue',this.input)
      this.$emit("itemChanged");
    }
  },
  watch: {
    input: {
      handler() {
        this.sendNewItem();
      },
      deep: true,
    },
  },

};
</script>

<style scoped>
.data-name {
  font-weight: bold;
}
</style>
