<template>
  <div class="wrapper">
    <div class="content">
      <div v-if="!this.currentVacancy.is_filled" class="applications">
        <div class="information-title">Applications</div>
        <div
          class="application"
          v-for="application in filterApplications(0)"
          :key="application.application_id"
        >
          <p>{{ application.student.name }}</p>
          <element-decoration
            @click="getCV(application.student.account.email)"
            text="Download CV"
          />
          <button
            @click="this.changeApplicationStatus(1, application.application_id)"
            type="button"
            class="btn btn-success"
          >
            Accept
          </button>
          <button
            @click="this.changeApplicationStatus(3, application.application_id)"
            type="button"
            class="btn btn-danger"
          >
            Reject
          </button>
          <hr />
        </div>
        <p>No one else has applied</p>
      </div>
      <div v-else class="employment">
        <div class="information-title">Employee</div>
        <div class="employee">
       
          <p>{{ this.filterApplications(1)[0].student.name }}</p>
          <element-decoration
            @click="getCV(this.filterApplications(1)[0].student.account.email)"
            text="Download CV"
          />
          <div v-if="this.filterApplications(1)[0].monthly_hours != null">
            Hours this month: {{ this.filterApplications(1)[0].monthly_hours }}
          </div>
          <div v-else>Not filled yet</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "bootstrap-icons/font/bootstrap-icons.css";
import axios from "axios";
import { getStorage, ref, getDownloadURL } from "firebase/storage";
import { CREATE_VNODE } from "@vue/compiler-core";
import ElementDecoration from "./ElementDecoration.vue";
export default {
  components: { ElementDecoration },
  name: "Vacancy Status",
  data() {
    return {
      currentVacancy: [],
    };
  },
  props: {
    companyID: {
      type: String,
    },
    vacancyID: {
      type: String,
    },
  },
  async created() {
    const vacancyDetails = await axios.get(
      `http://localhost:8080/api/vacancies/${this.$props.vacancyID}`,
      {}
    );
    console.log(vacancyDetails);
    this.currentVacancy = vacancyDetails.data;
  },
  methods: {
    filterApplications(status) {
      return this.currentVacancy.applications.filter(
        (application) => application.status === status
      );
    },
    async changeApplicationStatus(newStatus, applicationID) {
      const changeStatus = await axios.put(
        `http://localhost:8080/api/vacancies/changeApplicationStatus/${applicationID}/${newStatus}`,
        {}
      );

      window.location.reload();
    },
    getCV(studentEmail) {
      // Create a reference to the file we want to download
      const storage = getStorage();

      const starsRef = ref(storage, "student/" + studentEmail + "/cv.pdf");

      // Get the download URL
      getDownloadURL(starsRef)
        .then((CV) => {
          const link = document.createElement("a");
          link.href = CV;
          link.setAttribute("download", "CV");
          document.body.appendChild(link);
          link.click();
        })
        .catch((error) => {
          // A full list of error codes is available at
          // https://firebase.google.com/docs/storage/web/handle-errors
          switch (error.code) {
            case "storage/object-not-found":
              // File doesn't exist
              break;
            case "storage/unauthorized":
              // User doesn't have permission to access the object
              break;
            case "storage/canceled":
              // User canceled the upload
              break;

            // ...

            case "storage/unknown":
              // Unknown error occurred, inspect the server response
              break;
          }
        });
    },
  },
};
</script>

<style>
hr {
  width: 290%;
}
.employment{
  float: right;
  height: 200px;
  margin-top: 10px;
  margin-right: 70px;
  box-shadow: 0px 2px 6px #0000000a;
  border-radius: 13px;
  background: white;
  padding-top: 30px;
  padding-left: 40px;
  border: 1px solid #caced5;
  width: 55%;
  background-color: #fafafa;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;

}
.employee{
  display: grid;
  grid-template-columns: 300px 200px 300px;
  grid-template-rows: 50px;
  margin-top: 30px;
  grid-gap: 30px;
}
.application {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 50px 50px;
  margin-top: 30px;
  grid-gap: 30px;
}
.applications {
  float: right;
  height: 750px;
  margin-top: 10px;
  margin-right: 70px;
  box-shadow: 0px 2px 6px #0000000a;
  border-radius: 13px;
  background: white;
  padding-top: 30px;
  padding-left: 40px;
  border: 1px solid #caced5;
  width: 55%;
  background-color: #fafafa;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
}

.information-title {
  color: #fafafa;
  font: normal normal bold 20px/32px Nunito;
  background-color: #12181b;
  height: 70px;
  margin-left: -40px;
  margin-top: -30px;
  border-radius: 13px;
  padding-left: 30px;
  padding-top: 20px;
  border-bottom: 1px solid #caced5;
}
</style>
