$primary: #25eb2a;
$secondary: #6c757d;
$primary-alt: #22c55e;
$grey: #64748b;
$dark: #000103ce;
$dark-alt: #334155;
$light: #f1f5f9;
$sidebar-width: 300px;
$enable-negative-margins: true;

$bg-color: #f5f6fa;

$success: #0acf97;
$warning: #ffa700;
$danger: #ff4141;
$earn-it-color-primary:#12181B;
$earnit-color-primary-background:#12181B;
$earnit-color-secondary:#FAFAFA;
$earnit-color-tertiary:#DB5461;