<template>
<div>
  <SideBar @sidebarExpanded="toggleSidebar()" :isCompanySidebar="isCompSidebar" v-if="showSideBar"  class="sidebar"/>
  <router-view :sidebarExpanded="this.sidebarExpanded"/>
</div>
 
</template>
<script>
import SideBar from './components/layout/SideBar.vue';

  export default{
    name: "App",
    components: { SideBar,},
    data(){
      return{
        sidebarExpanded:false,
        isCompSidebar:false,
        loading:true,
        currentRoute: this.$route.name,
      }
      
    },
    methods:{
      toggleSidebar(){
        this.sidebarExpanded = !this.sidebarExpanded
      }
    },

    computed:{
      showSideBar(){
        //do not show sidebar  on these routes
        return this.$route.name !== 'login'
            && this.$route.name !== 'register'
            && this.$route.name !== 'home'
            && this.$route.name !== 'admin'
      }
    }

}
</script>

<style lang="scss">
@import "@/assets/styles/scss/app.scss";
@import "/node_modules/bootstrap/scss/bootstrap";

@include media-breakpoint-up(md) {
  .sidebar + .router-view {
    margin-left: calc(1rem + 32px);
  }

  .sidebar + .router-view.is-expanded {
    margin-left: $sidebar-width;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
