<template>
  <div class="alert alert-warning" role="alert">
    <span>{{ alertMessage() }}</span>
  </div>
</template>

<script>
export default {
  name: "alert",
  props: {
    msg: String,
    errorCode: String,
  },
  methods: {
    alertMessage() {
      //msg is returned if errorCode is not recognized
      if (this.errorCode === "auth/invalid-email") {
        return "Invalid email address";
      } else if (this.errorCode === "auth/user-not-found") {
        return "User not found";
      } else if (this.errorCode === "auth/wrong-password") {
        return "Wrong password";
      } else if (this.errorCode === "auth/email-already-in-use") {
        return "Email already in use";
      } else if (this.errorCode === "auth/weak-password") {
        return "Password must be at least 6 characters";
      } else {
        if (this.msg) {
          return this.msg;
        } else {
          return "An error has occurred";
        }
      }
    }
  },
}
</script>

<style scoped>

</style>